* {
    box-sizing: border-box;

}

/* font-family: 'Anton', sans-serif;
font-family: 'Black Ops One', cursive;
font-family: 'Lilita One', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; */